<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JCE.Sage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CrmIfdMode" value="false" />
    <add key="CrmOrganization" value="JCE" />
    <add key="CrmPublicAddress" value="http://crmbcdev" />
    <add key="CrmUserName" value="Administrator" />
    <add key="CrmPassword" value="?Admin1" />
    <add key="CrmUserDomain" value="DC" />
    <!-- SagePay Settings-->
    <add key="VendorName" value="justincraig" />
    <add key="OldNotificationUrl" value="https://jcebc.lss.co.uk/ISV/JCE/SagePay/NotificationPage.aspx" />
    <add key="OldOrderSuccessfulUrl" value="https://jcebc.lss.co.uk/ISV/JCE/SagePay/OrderSuccessful.aspx" />
    <add key="OldOrderFailedUrl" value="https://jcebc.lss.co.uk/ISV/JCE/SagePay/OrderFailed.aspx" />
    <add key="NotificationUrl" value="http://77.68.23.179/NotificationPage.aspx" />
    <add key="OrderSuccessfulUrl" value="http://77.68.23.179/OrderSuccessful.aspx" />
    <add key="OrderFailedUrl" value="http://77.68.23.179/OrderFailed.aspx" />
    <!-- TEST -->
    <add key="SagePayWebServiceAddress" value="https://test.sagepay.com/gateway/service/vspserver-register.vsp" />
    <!-- SIMULATOR https://test.sagepay.com/simulator/VSPServerGateway.asp?Service=VendorRegisterTx -->
    <!-- TEST https://test.sagepay.com/gateway/service/vspserver-register.vsp -->
    <!-- LIVE https://live.sagepay.com/gateway/service/vspserver-register.vsp -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <httpModules>
      <!-- <remove name="MapOrg"/>
      <remove name="CrmAuthentication"/>
      <remove name="CrmFederatedAuthenticationModule"/>
      <remove name="CrmSessionAuthenticationManager"/> -->
    </httpModules>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web" />
      </controls>
    </pages>
  </system.web>
  <applicationSettings>
    <JCE.Sage.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>AuthType=ClientSecret;ClientId=771985ae-5d8e-44fa-976e-26daa14475f0;ClientSecret=wa87Q~XSaTkv8xmElAM3Y5QwfcQJNXmJkb6Rs;Url=https://jce.crm11.dynamics.com/</value>
      </setting>
    </JCE.Sage.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>